[project]
	description = Network hypervisor with enhanced address virtualization and flow rule management
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/byyu
[access "refs/for/refs/*"]
	read = group user/byyu
	push = group user/byyu
	label-Code-Review = -2..+2 group user/byyu
	label-Verified = -1..+1 group user/byyu
	rebase = group user/byyu
	removeReviewer = group user/byyu
	submit = group user/byyu
[access "refs/heads/*"]
	read = group user/byyu
	create = group user/byyu
	push = +force group user/byyu
	pushMerge = group user/byyu
[access "refs/tags/*"]
	push = group user/byyu
	push = +force group user/byyu
